html, body { height: 100vh; width: 100%; margin: 0; overflow: hidden;}
div, a { height: 100%; width: 100%; margin: 0; }
* {box-sizing: border-box}
@font-face {
    font-family: 'nixieone';
    src: url('../assets/nixieone-regular-webfont.woff') format('woff2'),
         url('../assets/nixieone-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'abadi';
    src: url('../assets/abadimtstd-extralight-webfont.woff2') format('woff2'),
         url('../assets/abadimtstd-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.background {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-image: url('../assets/Reputation.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.4;

}

.items a {display: block;}
.headercontain
{
  width:auto;
  height: 10vh;
  background-color: #ECCFEB;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 400;
  border: 1px solid #B02541;
}

 ul
{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 60vw;
    margin-top:  5vh;
    float: right;

}

li {float: right;}


a {
  display: block;
  color: black;
  text-align: center;
  font-size: 2rem;
  font-family: nixieone;
  text-decoration: none;
  margin: 4px 12px;
  position: relative;

}
.sidebar > a {
 transition:0.3s;
 text-align: left;
 font-size 2rem;
 font-family: nixieone;
 display: block;
}
.sidebar
{
width: 0;
height: 100%;
position: fixed;
z-index: 400;
top: 0;
left: 0;
background: linear-gradient(to bottom, #eccfeb 1%,#dfc3da 100%);
overflow-x: hidden;
transition: 0.5s;
}
.side {
font-size:4rem;
cursor:pointer;
 display:none;
position: absolute;
 left:90%;
 top: 10%;
}
.sidenav .closebtn {
    font-family: nixieone;
    font-size: 3rem;

}
.strikethrough::before
{
  content: '';
  background: #A17D9F;
  position: absolute;
  top: 50%;
  height: 2px;
  width: 0;
}
.strikethrough::after {
     content: '';
     background: #A17D9F;
     position: absolute;
     top: 50%;
     height: 2px;
     width: 0;
   }

.strikethrough::before {left: 0;}

.strikethrough::after {
right: 0;
transition: width 500ms ease;
}

.strikethrough:hover:before {width: 100%;transition: width 500ms ease;}

.strikethrough::after {width: 100%;background: transparent;transition: 0;}



.items
{
background-repeat: no-repeat;
background-position: 75% 50%;
background-size: cover;
border: 1px solid #A17D9F;
cursor: pointer;
position: relative;
}

.items .items{border: 0px;}
.items .items:hover{background-color: #A17D9F;}
.items:hover{opacity: 1;}

.About
{
background-image: url("../assets/Taylorswift.jpg");
}
.Tour
{
background-image: url("https://static.wonderfulunion.net/groundctrl/clients/taylor-swift/media/01/02/images/assets/large.xJ8NMIPM2uHkESDrN-Ycu6v5g8u7wn4Qt2kMBjAsSXk.jpg");
background-position: 50% 50%;
color: #ECCFEB;
}
.txtcolor{}
.Music
{
background-image: url("../assets/Reputation.jpeg");
}
.Store
{
background-image: url("../assets/Merch1.jpg");
}
.Video
{
background-image: url("../assets/rfi.jpg");
background-position: 20% 50%;
}
.fb
{
background-image: url("../assets/Facebook.svg");
background-size: contain;

}
.tw
{
background-image: url("../assets/twitter.png");
background-size: contain;

}
.inst
{
background-image: url("../assets/insta.svg");
background-size: contain;
}
.spot
{
background-image: url("../assets/spot.png");
background-size: contain;
}
.apple
{
background-image: url("../assets/apple.svg");
background-size: contain;
}
.yt {background-image: url("../assets/youtube.svg.png"); background-size: contain;}
.title{
  max-width: 20vw;
  font-size: 3rem;
  height: auto;
  font-family: nixieone;
  font-weight: normal;
  text-decoration: none;
  text-decoration-color: #A17D9F;
  position: relative;
  top: 3vh;
  cursor: pointer;
}
.footer2{
height: 2.5vh;
position: fixed;
bottom: 0;
background-color: #A17D9F;
text-align: center;
}
.footer2 .bar{
border-bottom: 5px solid #DFC3DA;
position: absolute;
left: 25vw;
bottom: 1vh;
border-radius: 10px;
width: 50vw;
}
.container{
  margin-top: 10vh;
	height: 80vh;
}
.heightremove{height:auto;}

.containerembed{
height: 80vh;
padding-top: 15vh;
padding-left: 35vw;
box-sizing: border-box;

}


.addtext {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 30%;
  height: 14vh;
  z-index: 100;
  cursor: pointer;
  margin-left: 3vw;
  margin-top: 16vh;
  overflow: hidden;
  font: normal 2em/1 nixieone;
  color: #B02541;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(255,255,255,0);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  border-bottom: 2px solid grey;
}
.second {
position: absolute;
top: 20vh;
}
.third {
position: absolute;
top: 40vh;
}
.fourth {
position: absolute;
top: 60vh;
border-bottom: 0px solid #FFFAFF;
}

.fa {
  font-size: 20px !important;
  width: 25px;
  height: 50%;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
  box-sizing: content-box;
  justify-content: center;
  align-content: center;
  position: relative;
  bottom: 0;
  color: #FFFAFF;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;



}

.fa:hover {
    opacity: 0.7;
}



/*Video Page */
.maincontain{
margin-top: 10vh;
height: 50vh;
z-index: -2;
background-image: url(../assets/dk.png);
}
.seccontain{
height: 30vh;
text-align:center;
justify-content: center;
display:block;
}
.holder{
display: inline-block;
width: 25vh;
margin: 2.5vh 1vh;
position: relative;
background-color: pink;
height: 25vh;
padding: 0;
align-self: center;
cursor: pointer;
text-align:center;
justify-content: center;
display:inline-block;
background-repeat: no-repeat;
background-size: cover;
}
.holder:hover{
Border: 10px solid #B02541;
}
.holdone{background-image: url(https://i.ytimg.com/vi/HIb_TlK2HAI/maxresdefault.jpg);}
.holdtwo{background-image: url(https://img.cache.vevo.com/thumb/cms/ffec47c242023535fd87d8a8063c5c4c201810115401057.jpg);}
.holdthree{background-image: url(https://images1.laweekly.com/imager/u/745xauto/8593718/taylor-swift-look-what-you-made-me-do.png);background-position: right;}
.holdfour{background-image: url(https://i.ytimg.com/vi/sEr7bAtZ8rY/maxresdefault.jpg);background-position: left;}
.holdfive{background-image: url(https://i.ytimg.com/vi/7F37r50VUTQ/maxresdefault.jpg);background-position: right;}
iframe {
    display:block;
}
.mainembed {
float: right;
-webkit-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.75);
position: relative;
top: 10%;
right: 50vw;
}
.mainvidtext{
font-family: abadi;
font-size: 2rem;
color: gold;
position: relative;
left: 50vw;
top: 12%;
}
/*Music Page */
.tableholder{
height: 75vh;
width: 67.5vw;
position: relative;
margin-left: 1vw;
margin-top: 13vh;
overflow-y: fixed;
}
.playlist{
height: 60vh;
width: 30vw;
position: fixed;
right: 0;
top: 11vh;
background-color: #FFFAFF;
border: 1px solid #B02541;
font-size: 2rem;
font-family: nixieone;
text-align: center;
justify-content: center;
overflow-y: visible;
margin: 1%;
}
.playlistbutton{
height: 5vh;
width: 30vw;
position: fixed;
bottom: 20vh;
right: 0;
margin: 0 1% 1% 1%;
font-family: abadi;
font-size: 1rem;
background-color: #FFFAFF;
border: 1px solid #B02541;
cursor: pointer;
}
.Authbutton{
height: 5vh;
width: 30vw;
position: fixed;
bottom:  13vh;
right: 0;
margin: 1%;
font-family: abadi;
font-size: 1rem;
background-color: #FFFAFF;
border: 1px solid #B02541;
cursor: pointer;
}
.clearplaylistbutton{
height: 5vh;
width: 30vw;
position: fixed;
right: 0;
bottom: 7vh;
margin: 1%;
font-family: abadi;
font-size: 1rem;
background-color: #FFFAFF;
border: 1px solid #B02541;
cursor: pointer;
}
.Authbutton:hover{
background-color: #ECCFEB;
}
.playlistbutton:hover{
background-color: #ECCFEB;
}
.clearplaylistbutton:hover{
background-color: #ECCFEB;
}

.albt{
width:11vw;
position: relative;
top: 11vh;
left: 1vw;
height: 5vh;
font-family: abadi;
font-size: 1rem;
background-color: #FFFAFF;
border: 1px solid #B02541;
cursor: pointer;
}
.albt:hover{
background-color: #ECCFEB;
}

.albt:focus{
background-color: #A17D9F;
}
.namediv {
  width:50%;
  position: relative;
  left: 0;
  height: 10%;
  font-family: abadi;
  font-size: 2rem;
  background-color: #FFFAFF;
  border: 1px solid #B02541;
  text-align: center;
}
.maintable
{
  width: 100%;
  border-collapse: separate;
  height: 70vh;
}

tr{text-align: center;}
.head {
  background-color: #A17D9F;
  height: 7vh;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  font-family: nixieone;
}
.maindata {height: auto; font-family: abadi; font-size: 1.5rem;}

tr:nth-child(odd){background-color: #DFC3DA}
tr:nth-child(even){background-color: #FFFAFF}
/*HEADERS*/
.head{
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  font-family: nixieone;
  font-size: 2rem;
}
.playlistrow{
margin-top: 0;
height: auto;
}
.playlisttable{
margin-top: 0;
height: auto;
width: 30vw;
font-family: abadi;
font-size: 1rem;
}
.playlistdata{
  background-color: Pink;
}

.number {border: 1px solid gray; width: 10%;}
.song {border: 1px solid gray; width: 70%;}
.time {border: 1px solid gray; width: 10%}


.add
{
 border: 1px solid gray;
  font-size: 2em;
  cursor:pointer;
  transition: all 100ms linear;
  width: 10%;
}
.add:hover
{
  border: 1px solid black;
  font-size: 2.5em;
}


  .gridcontain{
    margin-top: 10vh;
    max-height: 85vh;
    display: grid;
    grid-gap: 0px 0px;
    grid-template-columns:auto auto auto auto auto;
    grid-template-rows: auto ;}
  .items > span
  {
    font-family: nixieone;
    font-weight: normal;
    font-size: 4rem;
    text-align: center;
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #ECCFEB;
  }
